body {
	font-family: "メイリオ", sans-serif;
/*	background: #296112; */
	background: #000000;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	overflow: hidden;
}

#site-box { 
 min-width : 1024px ; 
 position: relative; /*必ず必要*/
 z-index: 2; /*必ず必要*/
}

#bg-video {
 position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 background-size: cover;
}

p .clock {
	float: left;
	margin-right: 1em;
}

div.next {
	clear: left;
	float: left;
	width: calc(50% - 5px);
	padding-top: 50px;
	border-right: 2px solid #E3E3ED;
	height: 400px;
}

div.other {
	float: right;
	width: calc(50%);
	padding-top: 50px;
}

div.footer {
	clear: left;
	width: 100%;
	text-align: right;
	font-size: 20pt;
}

div.title {
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
	padding-left: 10px;
	margin-left: 0px;
	margin-top: 0px;
	letter-spacing: 15px;
	width: 50%;
	text-align: left;
	float: left;
}

div.time {
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
	padding-left: 10px;
	margin-left: 0px;
	margin-top: -30px;
	letter-spacing: 15px;
	text-align: right;
	float: right;
}

div .subtitle {
	font-size: 25pt;
	font-weight: bold;
	text-align: center;
}

table.frame {
	margin-top: 20px;
	height: 70px;
	border-collapse: separate;
	border-spacing: 10px;
	margin-left: auto; 
	margin-right: auto;
}

table.numbers_next {
	border-radius: 10px;
	border: solid 1px #ffffff;
	width: 100px;
	//background: #EDB000;
	background: rgba(255,255,255,0.5);
	//background: #ED9F13;
}

td.number_cell_next {
	font-size: 80pt;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

table.numbers_other {
	border-radius: 10px;
	border: solid 1px #ffffff;
	width: 100px;
//	background: #ffffff;
	background: rgba(255,255,255,0.5);
	border-spacing: 10px;
}

td.number_cell_other {
	font-size: 45pt;
//	font-weight: bold;
	padding: 5px;
	text-align: center;
}