body {
	font-family: "メイリオ", sans-serif;
/*	background: #296112; */
	background: #000000;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	overflow: hidden;
}

h2.label_next_patient {
	font-size: 20pt;
	text-align: center;
}

h2.label_other_patient {
	font-size: 18pt;
	text-align: center;
}

h4.label_waiting_people {
	background-color: rgba(66,134,244,0.5);
	font-size: 25pt;
	letter-spacing: 10px;
	text-align: center;
	margin: 40px auto 10px auto;
	width: 90%;
}

h4.label_waiting_time {
	background-color: rgba(63,149,255,0.5);
	font-size: 25pt;
	letter-spacing: 10px;
	text-align: center;
	margin: 10px auto 10px auto;
	width: 90%;
}

#site-box { 
 min-width : 1024px ; 
 position: relative; /*必ず必要*/
 z-index: 2; /*必ず必要*/
}

#bg-video {
 position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 background-size: cover;
}

p .clock {
	float: left;
	margin-right: 0.5em;
}

div.next {
	clear: left;
	float: left;
	width: 50%;
	padding-top: 50px;
	height: 400px;
}

div.other {
	float: right;
	width: 50%;
	padding-top: 50px;
	height: 400px;
}

div.footer {
	clear: left;
	width: 100%;
	text-align: right;
	font-size: 20pt;
}

div.title {
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
	padding-left: 10px;
	margin-left: 0px;
	margin-top: 0px;
	letter-spacing: 15px;
	width: 50%;
	text-align: left;
	float: left;
	height: 50px;
}

div.time {
	color: #FFFFFF;
	font-size: 30pt;
	font-weight: bold;
	padding-left: 10px;
	margin-right: 100px;
	margin-top: -30px;
	text-align: right;
	float: right;
	height: 50px;
}

div.content_waiting_people {
	font-size: 20pt;
	text-align: center;
}

div.content_waiting_time {
	font-size: 20pt;
	text-align: center;
}

table.still_not_called_numbers_table {
	table-layout: auto;
	margin-top: 20px;
	border-collapse: separate;
	border-spacing: 10px 50px;
	margin-left: auto; 
	margin-right: auto;
}

table.next_patient_box {
	background-color: rgba(255,0,0,0.5);
	color: #ffffff;
	margin-left: auto; 
	margin-right: auto;
}

td.number_cell_next {
	font-size: 50pt;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

td.number_cell_other {
	font-size: 26pt;
	padding: 5px;
	text-align: center;
	background-color: rgba(255,130,53,0.5);
	border: solid 2px;
}